@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    /* Account for fixed navbar height */
}

body {
    @apply bg-background text-primary font-sans;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-background;
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary/50 rounded-full hover:bg-secondary;
}